body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.CajaPrincipal{
    background-color: whitesmoke;
    border: solid black;
    width: 50%;
    height: 250px;
    margin: auto;
    text-align: center;
}