body{
    background-color: gray;
}
.container{
    border: 5px black solid;
    text-align: center;
    width: 60%;
    margin: auto;
}
.CajaPrincipal{
    background-color: whitesmoke;
    border: solid black;
    width: 50%;
    height: 250px;
    margin: auto;
    text-align: center;
    margin-bottom: 4px;
}