body{
    background-color: gray;
}
.container{
    border: 5px black solid;
    text-align: center;
    width: 60%;
    margin: auto;
    background-color: black;
}
.TagLine{
    background-color: chocolate;
    height: 70px;
    margin: 0px auto;
    border: 2px black solid;
}
.CajaPrincipal{
    background-color: whitesmoke;
    border: solid black;
    width: 50%;
    height: 250px;
    margin: auto;
    text-align: center;
    margin-bottom: 4px;
}